.bigContainer{
  max-width: 1366px;
    width: calc(100% - 36px);
    height: 100%;
    margin: 0px auto;
}
.navContainer{
  display: flex;
  justify-content: space-around;
}
.navLink{
  color: #f9c402;
}
.navLink:hover{
  color: #ffdb58;
}
